
<div class = "row">
	<div class = "col-lg-12">
		<h1>顧客詳細</h1>
		<dl>
			<dt>お名前</dt>
			<dd><%= @customer.full_name%></dd>
			<dt>電子メール</dt>
			<dd><%= @customer.email %></dd>

		</dl>
	</div>
</div>